.App {
  /* text-align: center; */
}

body {
  font-family: 'Fira Sans', Helvetica, sans-serif;
}

header {
  position: fixed;
  z-index: 100;
  left: 15px;
}

.Controls {
  height: 100vh;
  width: 220px;
  background-color: lightgray;
  position: fixed;
  left: 0;
  /* right: 220px;
  top: 0; */
  z-index: 100;
  padding: 15px;
  /* box-shadow: 0 1px 10px white; */
  border-right: 1px solid gray;
}

h1 {
  font-size: 28px;
}

.mapContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  transition: 0;
}