:root {
  --point-color: yellow;
  --hex-color: blue;
  --district-color: rgba(255, 255, 255, .2);
  --district-label-color: rgb(119, 216, 240);
  --light-gray: lightgray;
  --text: rgb(250, 236, 236);
  --text-2: rgb(189, 169, 169);
  --text-dark: rgb(31, 29, 29);
}

body {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: var(--text);
}

header {
  position: fixed;
  z-index: 100;
  left: 15px;
}

.Controls {
  height: 100vh;
  width: 220px;
  background-color: rgb(47, 47, 47);
  position: fixed;
  left: 0;
  /* right: 220px;
  top: 0; */
  z-index: 100;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  /* box-shadow: 0 1px 10px white; */
  border-right: 1px solid gray;
}

input[type='checkbox'] {
  width: 22px !important;
  height: 22px !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  /* outline: 1px solid gray; */
  box-shadow: none;
  font-size: 0.8em;
  text-align: center;
  line-height: 1em;
  /* background: rgb(0, 136, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 15px;
}

.dashControl:first-child input[type='checkbox'] {
  background: red;
}

.dashControl:nth-child(2) input[type='checkbox'] {
  background: orange;
}

.dashControl:nth-child(3) input[type='checkbox'] {
  background: yellow;
}

.dashControl:nth-child(3) input[type='checkbox']:after {
  background: yellow;
  color: rgb(137, 137, 137);
}

input[type='checkbox']:checked:after {
  content: '✔';
  font-size: 16px;
  color: var(--text);
}

input[type='checkbox']:not(:checked) {
  background: var(--text-2) !important;
}


.dashControl {
  margin-bottom: 12px;
  margin-top: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 0;
  margin-top: .25em;
}

p {
  font-size: 14px;
  margin-top: .5em;
}

label span {
  font-size: 16px;
}

svg.logo {
  max-width: 50px;
  margin-top: 20px;
  /* margin-left: auto;
  display: block; */
  fill: var(--text-2) !important;
}

a:link,
a:visited {
  color: var(--text-2);

}

.react-switch {
  padding-right: 10px;
}

/* a:hover,
a:active {} */

h2 {
  font-size: 18px;
  margin: 1.0em 0 .5em;
  color: var(--text-2);
}

.mapContainer {
  width: calc(100vw - 250px);
  height: 100vh;
  position: fixed;
  /* right: 0; */
  left: 250px;
  transition: 0;
}

.react-slider {
  width: 100%;
  margin-top: 4px;
}

.react-slider.disabled {
  opacity: .5;
}

.thumb {
  cursor: pointer;
  /*color for the thumb */
  background: #088;
  /* shape of the thumb: circle */
  width: 15px;
  height: 15px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
  /* transition: .2s; */
}

.disabled .thumb {
  cursor: auto;
  background: rgb(107, 107, 107);
}

.track {
  top: 5px;
  /* thickness of the track */
  height: 4px;
  /* default color of your track */
  background: rgb(173, 173, 173);
}

.track.track-0 {
  background: #088;
}

.disabled .track.track-0 {
  background: rgb(107, 107, 107);
}

.small-label {
  font-size: 12px;
  margin-top: 1.2em;
}

.popup {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  /* margin: 15px; */
  color: var(--text-dark);
}

.popup p {
  margin-top: 0 .5em .25em;
  padding-left: 10px;
  padding-right: 10px;
}